body {
    margin: 0;
    font-family: Arial;
}

.header {
    background: #FF8FAB;
    padding: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.main {
    display: flex;
    min-height: 480px;
}

.sidebar {
    width: 350px;
    background-color: #FFB3D1;
    height: 100%;
    min-height: 220vh;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar button {
    width: 85%;
    padding: 12px;
    margin: 12px 0;
    background-color: #F2F2F2;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition:
        background-color: 0.3s ease;
        transform: 0.15s ease;
        box-shadow: 0.3s ease;
}

.sidebar button:hover {
    background-color: #FFE6EE;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.sidebar button:active {
    background-color: #FFCCE0;
    transform: scale(0.96);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}


.song-block {
    margin-top: 0.1px;
}

.song-block h3 {
    margin-bottom: 5px;
    margin-top: 0.1px;
}

#konten {
    flex: 1;
    background: #FFE6EE;
    padding: 60px;
    font-size: 20px;
    height: 100%;
    min-height: 220vh;
}

.konten:hover {
    box-shadow: 0 8px 25px rgba(0,0,0,0.22);
    transform: translateY(-4px);
}

.footer {
    background: #6B5E62;
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
}